body {
    margin: 0;
    padding: 0;

}

main,
section,
footer {
    padding: 100px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', arial;
}

/* nav bar part*/

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    color: white;
    align-items: center;
    padding-top: 10px;
    background-color: #1F2937;
    font-family: 'Roboto', arial;

}

.nav-logo img {
    margin-left: -15px;
    width: auto;
    height: 70px;
}

.right-links ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 50px;
    font-size: large;
    font-weight: bold;
    text-shadow: 2px 2px black;

}

.right-links ul a {
    text-decoration: none;
    color: white;
}

/* hero part */

main {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.hero-subtext {
    font-size: 18px;
    color: white;
    margin-top: -1px;
    max-width: 500px;
    margin-top: 5px;
    text-shadow: 2px 2px black;

}

.hero-img img {
    width: auto;
    height: 300px;
}

/*sign up bottons */

.sign-up {
    border-radius: 10px;
    border-style: none;
    padding: 7px 30px;
    font-size: 1rem;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    margin-left: -2px;

}

#s3-sign-up {
    border-color: white;
    border-style: solid;
    border-width: 2px;
}


.button-wrapper {
    margin-left: auto;
}

/* section 1 part */

.section-1 {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.figure-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.figure-img {
    width: 200px;
    height: 200px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 15px;
}

figcaption {
    margin-top: 20px;
    font-weight: bolder;
    font-size: large;
}

/* section-2 part */

.section-2 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;

}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

cite {
    font-weight: bold;
    font-style: normal;
    text-align: right;
    margin-right: 80px;
}

/* section-3 part */

.section-3 {
    display: flex;
    justify-content: center;
    color: white;
}

.blue-wrapper {
    background-color: #3882f6;
    border-radius: 10px;
    width: 75vh;
    display: flex;
    padding: 30px 100px;
    align-items: center;
}

.text-wrapper {
    line-height: 5px;
}

.text-1 {
    font-size: larger;
    font-weight: bold;
}

.text-2 {
    font-style: italic;
}

/* footer part */

footer {
    background-color: #1F2937;
    text-align: center;
    font-family: 'Roboto', arial;
}

.footer-text {
    color: white;

}